ul.navbarhor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li.navbarhor {
    float: left;
  }
  
  li a.navbarhor {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover.navbarhor {
    background-color: #111111;
  }
